<!-- Derived from https://www.frontendreference.com/tailwindcss-card-example.html -->
<div id="card" class="max-w-sm m-auto overflow-hidden rounded shadow-lg">
    <img class="w-full" src="https://source.unsplash.com/random/400x200" alt="Beautiful isn't it?">
    <div id="card-text" class="px-6 py-4 bg-white">
        <div class="mb-2 text-xl font-bold">Wisdom #{{ label }}</div>
        <p class="text-base text-gray-700">
            {{ text }}
        </p>
    </div>
    <div class="px-6 py-4 bg-gray-100">
        <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 transition ease-in-out duration-700" hx-post="/quotes/{{ next }}" hx-swap="outerHTML" hx-target="#card">
            Click Me
        </button>
    </div>
</div>
