<div id="state">
    <p>Player {{ state.get_player().id }} to move</p>
    <table>
        <tr>
            <th>Cash</th>
            <th>Position</th>
            <th>Doubles</th>
            <th>In Jail</th>
        </tr>
        {% for player in state.get_players() %}
        <tr>
            <td>{{ player.cash }}</td>
            <td>{{ state.get_destination(player.position).name }}</td>
            <td>{{ player.doubles }}</td>
            <td>{{ player.in_jail }}</td>
        </tr>
        {% endfor %}
    </table>
    <div id="message">
        {{ action.message }}
    </div>
    {% if action is mapping %}
        {% include 'partials/actions/%s.html' % action.action %}
    {% else %}
        {% for option in action %}
            {% with action=option %}
                {% include 'partials/actions/%s.html' % option.action %}
            {% endwith %}
        {% endfor %}
    {% endif %}
</div>