<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
        <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js" type="text/javascript"></script>
        <title>Monopoly</title>
    </head>
    <body>
        <div>
            {% include "partials/state.html" %}
            <button hx-post="/{{ game }}/roll" hx-swap="outerhtml" hx-target="#state">
                Roll
            </button>
            <div id="feed">
                
            </div>
        </div>
    </body>
</html>